In [1]:
from covid import COVID
dataset = COVID()
dataset.get_status("Brazil","China","Iran")

  location  new_cases  new_deaths  total_cases  total_deaths
0   Brazil        283           5          904            11
1    China         79           7        81416          3261
2     Iran       1237         149        19644          1433